@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  * {
    margin: 0;
    outline: 0;
    padding: 0;
  }
}
:root {
  --primaryWhite: #fff;
  --secondaryWhite: #f5f5f5;
  --textWhite: #fafafa;
  --extraWhite: #fefaf1;
  --primaryBlack: #000;
  --secondaryBlack: #363738;
  --textGrey: #7d8184;
  --primaryRed: #db4444;
  --secondaryRed: #e07575;
  --green: #00ff66;
  --blueShade: #a0bce0;
  --black30: rgb(0, 0, 0, 0.3);
  --popins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
}

@layer components {
  /* navItem hover css */
  .navItemHover {
    position: relative;
  }
  .navItemHover::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background: var(--primaryBlack);
    bottom: 0;
    transition: ease-in-out.2s;
    -webkit-transition: ease-in-out.2s;
    -moz-transition: ease-in-out.2s;
    -ms-transition: ease-in-out.2s;
    -o-transition: ease-in-out.2s;
  }

  .navItemHover:hover::before {
    width: 100%;
  }
  .navitemActive::before {
    width: 100%;
  }
  /* menus icon hover custom  css  */
  .menuIcon {
    transition: ease-in-out.2s;
    -webkit-transition: ease-in-out.2s;
    -moz-transition: ease-in-out.2s;
    -ms-transition: ease-in-out.2s;
    -o-transition: ease-in-out.2s;
    height: 34px;
    width: 34px;
    background: var(--primaryWhite);
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .menuIcon:hover {
    height: 34px;
    width: 34px;
    background: var(--primaryRed);
    color: var(--primaryWhite);
  }
}

/* banner dot active css */
.slick-dots ul li.slick-active div {
  background: var(--primaryRed) !important;
  width: 14px !important;
  height: 14px !important;
  border: 2px solid var(--primaryWhite);
}
.slick-dots ul li {
  margin: 2px;
}
